$primary: #E44527;
$light: #FFFFFF;
$dark: #1A1A1A;
$secondary: #F5F4F0;
$info: #fea63a;
$danger: #fea63a;

.map{
    width: 475px;

    @media screen and (max-width: 576px){
        width: 300px;
    }
}

.position{
    width: 70px;
    height: 70px;

    @media screen and (max-width: 576px){
        width: 50px;
        height: 50px;
    }
}

.position:hover{
    background-color: $secondary !important;
    cursor: pointer;
}

.color-available{
    background-color: $light;
}

.color-occupied{
    background-color: $secondary;
}

.color-user-space{
    background-color: $info;
}