// Override default variables before the import
$primary: #E44527;
$light: #FFFFFF;
$dark: #1A1A1A;
$secondary: #F5F4F0;
$info: #26532b;
$danger: #E44527;

$enable-responsive-font-sizes: true;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';